<% @biopsies.each do |biopsy| %>
  <li>
    <%= biopsy.patient_id %>
    <%= link_to "Show", biopsy_path(biopsy) %>
    <%= link_to 'Edit', edit_biopsy_path(biopsy) %>
    <%= button_to 'Delete', biopsy_path(biopsy), :method => :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'New biopsy', new_biopsy_path %>