<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Impression</th>
    <th>Size (mm)</th>
    <th>Operator</th>
    <th>Func</th>
  </tr>

<% @biopsies.each do |biopsy| %>
  <tr>
    <td><%= biopsy.exam_date %></td>
    <td><%= biopsy.patient_id %></td>
    <td><%= biopsy.patient_name %></td>
    <td><%= biopsy.lesion_location_text %></td>
    <td><%= biopsy.impression_text %></td>
    <td><%= biopsy.lesion_size %></td>
    <td>
      <% biopsy.radiologists.each do |r| %>
        <%= r.name %>
      <% end %>
    </td>
    <td>
      <%= link_to "Show", biopsy_path(biopsy), class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_biopsy_path(biopsy), class: "btn btn-warning" %>
      <%= link_to 'Delete', biopsy_path(biopsy), :method => :delete, class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>