<%= bootstrap_form_for @biopsy, layout: :horizontal, url: biopsies_path do |f| %>

  <div class="row">
    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Infomation</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <%= f.date_field :exam_date, label: "Date", value: @biopsy.exam_date, label_col: "col-sm-2", control_col: "col-sm-10" %>
            </div>
            <div class="col-sm-4">
            <%= f.text_field :patient_id, label: "病歷號", label_col: "col-sm-5", control_col: "col-sm-7" %>
            </div>
            <div class="col-sm-4">
            <%= f.text_field :accession_no, label: "申請序號", label_col: "col-sm-5", control_col: "col-sm-7" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <%= f.text_field :patient_name, label: "姓名", label_col: "col-sm-4", control_col: "col-sm-8" %>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :patient_age, label: "年齡", label_col: "col-sm-4", control_col: "col-sm-8" %>
            </div>
            <div class="col-sm-4">
              <%= f.select(:patient_gender, ['M', 'F'], { label: "性別", label_col: "col-sm-8", control_col: "col-sm-4" }) %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Method</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :biopsy_needle_size, label: "Biopsy Needle Size", value: '21', append: "G", label_col: "col-sm-6", control_col: "col-sm-6" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :coaxial_needle_size, label: "Coaxial Needle Size", value: '20', append: "G", label_col: "col-sm-6", control_col: "col-sm-6" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <%= f.form_group :use_contrast_media, label: { text: "Use Contrast Media" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
                <%= f.radio_button :use_contrast_media, 'no', label: "No", inline: true, checked: true %>
                <%= f.radio_button :use_contrast_media, 'yes', label: "Yes", inline: true %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= f.form_group :anesthesia, label: { text: "Anesthesia" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
                <%= f.radio_button :anesthesia, 'local', label: "Local", inline: true, checked: true %>
                <%= f.radio_button :anesthesia, 'general', label: "General", inline: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Procedure</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <%= f.select(:position, ["supine", "prone", "left decubitus", "right decubitus", "left semidecubitus", "right semidecubitus"], { label: "Position" }) %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.form_group :lesion_location, label: { text: "Location" } do %>
                <%= f.radio_button :lesion_location, 'LUL', label: "LUL", inline: true, checked: true %>
                <%= f.radio_button :lesion_location, 'LLL', label: "LLL", inline: true %>
                <%= f.radio_button :lesion_location, 'Left lingular lobe', label: "Left lingular lobe", inline: true %>
                <%= f.radio_button :lesion_location, 'RUL', label: "RUL", inline: true %>
                <%= f.radio_button :lesion_location, 'RML', label: "RML", inline: true %>
                <%= f.radio_button :lesion_location, 'RLL', label: "RLL", inline: true %>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">
                    <input type="radio" name="biopsy[lesion_location]" id="biopsy_lesion_location_other" value="other">
                  </span>
                  <input type="text" class="form-control" id="lesion_location_other" name="biopsy[lesion_location_other]" placeholder="Others">
                </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :lesion_size, label: "Lesion Size", append: "mm", label_col: "col-sm-4", control_col: "col-sm-6" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :pleural_distance, label: "Pleural Distance", append: "mm", label_col: "col-sm-6", control_col: "col-sm-6" %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.form_group :lesion_type, label: { text: "Lesion Type" } do %>
                <%= f.radio_button :lesion_type, 'solid', label: "Solid", inline: true, :checked => true %>
                <%= f.radio_button :lesion_type, 'part solid', label: "Part solid", inline: true %>
                <%= f.radio_button :lesion_type, 'GGO', label: "GGO", inline: true %>
                <%= f.radio_button :lesion_type, 'Multiple GGOs', label: "Multiple GGOs", inline: true %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <%= f.form_group :emphysema_degree, label: { text: "Emphysema" }, label_col: "col-sm-3", control_col: "col-sm-8" do %>
                <%= f.radio_button :emphysema_degree, 'no', label: "No", inline: true, :checked => true %>
                <%= f.radio_button :emphysema_degree, 'mild', label: "Mild", inline: true %>
                <%= f.radio_button :emphysema_degree, 'moderate', label: "Moderate", inline: true %>
                <%= f.radio_button :emphysema_degree, 'severe', label: "Severe", inline: true %>
              <% end %>
            </div>
            <div class="col-sm-4">
              <%= f.form_group :lesion_is_cavitary, label: { text: "Cavity" }, label_col: "col-sm-4", control_col: "col-sm-8" do %>
                <%= f.radio_button :lesion_is_cavitary, 'no', label: "No", inline: true, :checked => true %>
                <%= f.radio_button :lesion_is_cavitary, 'yes', label: "Yes", inline: true %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.form_group :patient_cooperation, label: { text: "Patient Cooperation" } do %>
                <%= f.radio_button :patient_cooperation, 'good', label: "Good", inline: true, :checked => true %>
                <%= f.radio_button :patient_cooperation, 'fair', label: "Fair", inline: true %>
                <%= f.radio_button :patient_cooperation, 'poor', label: "Poor", inline: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= f.form_group :radiologists, label: { text: "Operator" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
            <%= select_tag("biopsy[radiologists][]", options_from_collection_for_select(Radiologist.all, :id, :name), { class: "form-control" }) %>
          <% end %>
        </div>
        <div class="col-sm-8">
      <%= f.primary "Create" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Complications</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <%= f.form_group :pneumothorax_degree, label: { text: "Pneumothorax" }, label_col: "col-sm-3", control_col: "col-sm-9" do %>
                    <%= f.radio_button :pneumothorax_degree, 'no', label: "No", inline: true, checked: true %>
                    <%= f.radio_button :pneumothorax_degree, 'minimal', label: "Minimal", inline: true %>
                    <%= f.radio_button :pneumothorax_degree, 'mild', label: "Mild", inline: true %>
                    <%= f.radio_button :pneumothorax_degree, 'moderate', label: "Moderate", inline: true %>
                    <%= f.radio_button :pneumothorax_degree, 'severe', label: "Severe", inline: true %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <%= f.form_group :hemorrhage_degree, label: { text: "Hemorrhage" }, label_col: "col-sm-3", control_col: "col-sm-9" do %>
                    <%= f.radio_button :hemorrhage_degree, 'no', label: "No", inline: true, checked: true %>
                    <%= f.radio_button :hemorrhage_degree, 'mild', label: "Mild", inline: true %>
                    <%= f.radio_button :hemorrhage_degree, 'moderate', label: "Moderate", inline: true %>
                    <%= f.radio_button :hemorrhage_degree, 'severe', label: "Severe", inline: true %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <%= f.form_group :has_hemoptysis, label: { text: "Hemoptysis" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
                    <%= f.radio_button :has_hemoptysis, 'no', label: "No", inline: true, checked: true %>
                    <%= f.radio_button :has_hemoptysis, 'yes', label: "Yes", inline: true %>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <%= f.form_group :has_asthma, label: { text: "Asthma" }, label_col: "col-sm-4", control_col: "col-sm-8" do %>
                    <%= f.radio_button :has_asthma, 'no', label: "No", inline: true, checked: true %>
                    <%= f.radio_button :has_asthma, 'yes', label: "Yes", inline: true %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <%= f.form_group :has_chest_tightness, label: { text: "Chest tightness" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
                    <%= f.radio_button :has_chest_tightness, 'no', label: "No", inline: true, checked: true %>
                    <%= f.radio_button :has_chest_tightness, 'yes', label: "Yes", inline: true %>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <%= f.text_field :other_complications, label: "Others", label_col: "col-sm-4", control_col: "col-sm-8" %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <%= f.form_group :complication_management_drain, label: { text: "Management" }, label_col: "col-sm-6", control_col: "col-sm-6" do %>
                    <%= f.radio_button :complication_management_drain, 'pigtail', label: "Pigtail", inline: true, class: "as_checkbox" %>
                    <%= f.radio_button :complication_management_drain, 'chest tube', label: "Chest tube", inline: true, class: "as_checkbox" %>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <%= f.text_field :complication_management_other, label: "Other", label_col: "col-sm-4", control_col: "col-sm-8" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Specimens</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <%= f.select(:biopsy_numbers, 0..9, { label: "切片次數", label_col: "col-sm-8", control_col: "col-sm-4", selected: 3 }) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:formalin_numbers, 0..9, { label: "福馬林", label_col: "col-sm-8", control_col: "col-sm-4", selected: 2 }) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:saline_numbers, 0..9, { label: "Saline", label_col: "col-sm-8", control_col: "col-sm-4", selected: 1 }) %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <%= f.select(:aerobic_swab_numbers, 0..2, { label: "Aerobic swab", label_col: "col-sm-8", control_col: "col-sm-4", selected: 1 }) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:anaerobic_swab_numbers, 0..2, { label: "Anaerobic swab", label_col: "col-sm-8", control_col: "col-sm-4", selected: 1 }) %>
                </div>
                <div class="col-sm-4">
                  <%= f.select(:tb_numbers, 0..2, { label: "TB Culture", label_col: "col-sm-8", control_col: "col-sm-4", selected: 1 }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>