<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Information</h3>
          </div>
          <div class="panel-body">
            <h3><%= @biopsy.patient_name %> <small>(<%= @biopsy.patient_age %> / <%= @biopsy.patient_gender %>)</small></h3>
            <table>
              <tr>
                <th>ID</th>
                <td><%= @biopsy.patient_id %></td>
              </tr>
              <tr>
                <th>AccNo</th>
                <td><%= @biopsy.accession_no %></td>
              </tr>
              <tr>
                <th>Exam Date</th>
                <td><%= @biopsy.exam_date %></td>
              </tr>
              <tr>
                <th>Operator</th>
                <td></td>
              </tr>
              <tr>
                <th>Last update</th>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p><%= link_to 'Back to index', biopsies_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Report Text
          <button type="button" class="btn btn-primary btn-xs pull-right" data-clipboard-target="text_report" id="btn_copy" title="Copy to clipboard">
            Copy
          </button>
        </h3>
      </div>
      <div class="panel-body">
        <textarea class="form-control" rows="30" id="text_report"><%= render "biopsies/text_report" %></textarea>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var btn_copy = new ZeroClipboard($("#btn_copy"))
    ZeroClipboard.config({
      swfPath: '<%= asset_path "ZeroClipboard.swf" %>'
    });
  });
</script>