<!DOCTYPE html>
<html>
<head>
  <title>CtGuidedLungBiopsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CT-guided Lung Biopsy</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'New biopsy', new_biopsy_path %></li>
      </ul>
  </div>
</nav>

  <div class="container-fluid">

<%= yield %>

  </div>
</body>
</html>
